

.main-container{
    display: flex;
    justify-content: space-around;
}
.options{
    display: flex;
}
.option{
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    list-style-type: none;
    font-family: sans-serif;
}
.option:hover{
    background-color: lightblue;
    cursor: pointer;
    border-bottom: 2px solid  blueviolet;
    border-radius: 5px;
}

.search-field{
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-left: 2rem;
    text-align: left;
    width: 15rem;
}


.create-container{
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0px;
    margin: 0px;
}
.create-container:hover{
    background: radial-gradient(circle, rgb(195, 203, 84), rgb(184, 37, 108));
    padding: 5px;
    color: white;

}
.create:hover{
    color: white;
}

.create{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(147, 15, 15);
    font-weight: 600;
    margin: 0px;
}

.iconplus{
    margin: 0px;
    padding: 0px;
   
}